<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AOS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />


    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <!-- Style.css -->
    <link rel="stylesheet" href="public/blogT.css">

    <link rel="icon" href="pictures/title_1.png" type="image/icon type">
    <title>Blogs!</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <!-- <nav class="navbar navbar-expand-lg navbar-mainbg" style="position:fixed; width: 100%; z-index: 1;"> -->
        <!-- Logo -->
        <a class="navbar-brand navbar-logo rounded-circle" href=""> <img src="pictures/10_1.png" class="card-img-top" alt="..." style="width: 163px;">
        </a>
        <!-- Collapse Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- For Styling -->
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <!-- Nav Links -->
                <li class="nav-item ">
                    <a class="nav-link" href="../#">
                        <i class="fas fa-tachometer-alt">
                  </i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#About_me">
                        <i class="fas fa-address-card"></i>About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#Work">
                        <i class="fab fa-codepen"></i>Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#Contact">
                        <i class="far fa-id-badge"></i>Contact
                    </a>
                </li>
                <li class="nav-item active" style="cursor: pointer;">
                    <a class="nav-link" onclick="window.location= '/blog' ">
                        <i class="far fa-chart-bar ">
                  </i>Blogs
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/partials/Azeem-CV.pdf ">
                        <i class="far fa-copy ">
                  </i>Resume
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class=" ">

        <div class="text-light info_div p-2 pt-3 d-flex justify-content-center ">
            <div class="email_line "> <a href="mailto:azeemaj101@gmail.com " style="text-decoration: none; color: var(--white); " target="_blank " rel="noopener noreferrer "><span> Azeemaj101@gmail.com&nbsp &nbsp</span></a>
                <div class="inner_email "></div>
            </div>
            <div class="contact_logo text-center ">
                <div class="text-center logo_fixed fs-3 col-bg-5 ">
                    <a href="https://github.com/Azeemaj101 " target="_blank " rel="noopener noreferrer "><i class="fab fa-github "></i></a>
                    <a href="https://www.instagram.com/azeemaj101/ " target="_blank " rel="noopener noreferrer "><i class="fab fa-instagram "></i></a>
                    <a href="https://www.linkedin.com/in/azeemaj101/ " target="_blank " rel="noopener noreferrer "><i class="fab fa-linkedin-in "></i></a>
                    <a href="https://twitter.com/Azeemaj101 " target="_blank " rel="noopener noreferrer "><i class="fab fa-twitter "></i></a>
                    <a href="mailto:azeemaj101@gmail.com " target="_blank " rel="noopener noreferrer "><i class="fas fa-envelope "></i></a>
                </div>
                &nbsp
                <div class="inner_logo "></div>
            </div>
        </div>
        <div class="Title_cards d-flex justify-content-center align-items-center flex-column">
            <p class=" fs-3">
                Blogs
            </p>
            <div class="d-flex justify-content-center align-items-center flex-wrap  mb-3">
                <div class="card text-white mb-3 ml-2 other_cards " style="overflow-x: scroll; overflow-y: hidden;">
                    <div class="container mt-2 a2020">
                        <div class="row ">
                            <div class="col text-center"> <img src="pictures/13_1.png " class="card-img-top " alt="... " style="width: 45px; ">
                            </div>
                        </div>
                    </div>
                    <div class="card-body inner_cards d-flex align-items-center  flex-column justify-content-center">
                        <h5 class="card-title a2020">
                            Year in Review 2020
                        </h5>
                        <p class="card-text a2020">
                            Memories + Certifications
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" onclick="window.location.href=`/year2020`" class="btnmb">Read Me</button>
                    </div>
                </div>
                <% for(var i=0; i<obj[0].blog.length; i++) {%>
                    <div class="card text-white mb-3 ml-2 other_cards ablog" style="overflow-x: scroll;">
                        <div class="container mt-2 ">
                            <div class="row ">
                                <div class="col "> <img src="pictures/13.png " class="card-img-top " alt="... " style="width: 45px; ">
                                </div>
                            </div>
                        </div>
                        <div class="card-body inner_cards ">
                            <h5 class="card-title ">
                                <%- obj[0].blog[i].title %>
                            </h5>
                            <p class="card-text ">
                                <%- obj[0].blog[i].desc %>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" onclick="window.location.href=`/blogRead/<%- i %>`" class="btnmb">Read Me</button>
                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
        <div class="text-center m-5">
            <button class="p-2 mx-4 rounded go_back" onclick="history.back()">Go Back</button>
        </div>
        <div class="text-center logo_buttom_mobile fs-3">
            <a href="https://github.com/Azeemaj101 " target="_blank " rel="noopener noreferrer "><i class="fab fa-github "></i></a>
            <a href="https://www.instagram.com/azeemaj101/ " target="_blank " rel="noopener noreferrer "><i class="fab fa-instagram "></i></a>
            <a href="https://www.linkedin.com/in/azeemaj101/ " target="_blank " rel="noopener noreferrer "><i class="fab fa-linkedin-in "></i></a>
            <a href="https://twitter.com/Azeemaj101 " target="_blank " rel="noopener noreferrer "><i class="fab fa-twitter "></i></a>
            <a href="mailto:azeemaj101@gmail.com " target="_blank " rel="noopener noreferrer "><i class="fas fa-envelope "></i></a>
        </div>
    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous "></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js "></script>
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js "></script> -->
    <script src="public/blogT.js "></script>


</body>

</html>