<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="public/style404.css">
</head>

<body>
    <div class="container">
        <video width="220" height="220" muted controls webkit-playsinline autoplay="autoplay" playsinline id="myVideo">
            <source src="../pictures/load.webm" type="video/webm" />
          </video>
        <h2>Oops! Page not found.</h2>
        <h1>404</h1>
        <p>We can't find the page you're looking for.</p>
        <a href="#" onclick="window.history.back()">Go back home</a>
    </div>
</body>

</html>